body {
  background-color: B8C0B9;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav{
  text-align: center;
  background-color: 828C83;
  color: white;
}
nav li {
  display: inline-block;
  text-align: center;
  padding: 25px;
  font-size:
}
h1 {
  padding: 15px;
  font-size: 100;
  color: white;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 40%;
  padding: 20px;
}
nav a {
  color: white;
  font-family: sans-serif;
}
